<div class="bb-sidebar" data-role="sidebar">
  <nav role="navigation" data-role="user-mode-nav">
    <ul class="bb-navigation" aria-orientation="vertical">
      <li
        class="bb-navigation__item bb-navigation-item"
        routerLinkActive="bb-navigation-item--active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a class="bb-navigation-item__link" routerLink="./">
          <i class="bicon bicon-dashboard bb-navigation-item__icon"></i>
          <span
            class="bb-navigation-item__title"
            i18n="
              Customer overview menu item|Link text to navigate to the customer
              overview page@@employee-app.user-mode-nav.customer-overview"
          >
            Customer overview
          </span>
        </a>
      </li>
      <li
        class="bb-navigation__header"
        i18n="
          User support menu header|Title text for the user support header in
          user mode@@employee-app.user-mode-nav.customer-support"
      >
        User support
      </li>
      <li
        class="bb-navigation__item bb-navigation-item"
        routerLinkActive="bb-navigation-item--active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a class="bb-navigation-item__link" routerLink="./profile">
          <i class="bicon bicon-people-outline bb-navigation-item__icon"></i>
          <span
            class="bb-navigation-item__title"
            i18n="
              Profile menu item|Link text to navigate to the profile
              page@@employee-app.user-mode-nav.profile"
          >
            Profile
          </span>
        </a>
      </li>
      <li
        class="bb-navigation__item bb-navigation-item"
        routerLinkActive="bb-navigation-item--active"
      >
        <a class="bb-navigation-item__link" routerLink="./security">
          <i class="bicon bicon-lock bb-navigation-item__icon"></i>
          <span
            class="bb-navigation-item__title"
            i18n="
              Login & security menu item|Link text to navigate to the login &
              security page@@employee-app.user-mode-nav.security"
          >
            Login & security
          </span>
        </a>
      </li>
      <li
        class="bb-navigation__item bb-navigation-item"
        routerLinkActive="bb-navigation-item--active"
      >
        <a class="bb-navigation-item__link" routerLink="./devices">
          <i class="bicon bicon-smartphone bb-navigation-item__icon"></i>
          <span
            class="bb-navigation-item__title"
            i18n="
              Devices menu item|Link text to navigate to the device details
              page@@employee-app.user-mode-nav.devices"
          >
            Devices
          </span>
        </a>
      </li>
      <li
        class="bb-navigation__item bb-navigation-item"
        routerLinkActive="bb-navigation-item--active"
      >
        <a class="bb-navigation-item__link" routerLink="./sessions">
          <i class="bicon bicon-phonelink bb-navigation-item__icon"></i>
          <span
            class="bb-navigation-item__title"
            i18n="
              Sessions menu item|Link text to navigate to the sessions
              page@@employee-app.user-mode-nav.sessions"
          >
            Sessions
          </span>
        </a>
      </li>
      <li
        class="bb-navigation__header"
        i18n="
          Product and payment support menu header|Title text for the product and
          payment support header in user
          mode@@employee-app.user-mode-nav.product-and-payment-support"
      >
        Product & Payment Support
      </li>
      <li
        class="bb-navigation__item bb-navigation-item"
        routerLinkActive="bb-navigation-item--active"
      >
        <a class="bb-navigation-item__link" routerLink="./products">
          <i class="bicon bicon-current-accounts bb-navigation-item__icon"></i>
          <span
            class="bb-navigation-item__title"
            i18n="
              Products menu item|Link text to navigate to the products
              page@@employee-app.user-mode-nav.products"
          >
            Products
          </span>
        </a>
      </li>
      <li
        class="bb-navigation__item bb-navigation-item"
        routerLinkActive="bb-navigation-item--active"
      >
        <a class="bb-navigation-item__link" routerLink="./cards">
          <i class="bicon bicon-credit-cards bb-navigation-item__icon"></i>
          <span
            class="bb-navigation-item__title"
            i18n="
              Cards menu item|Link text to navigate to the cards
              page@@employee-app.user-mode-nav.cards"
          >
            Cards
          </span>
        </a>
      </li>
      <li
        class="bb-navigation__item bb-navigation-item"
        routerLinkActive="bb-navigation-item--active"
      >
        <a class="bb-navigation-item__link" routerLink="./payments">
          <i class="bicon bicon-payments bb-navigation-item__icon"></i>
          <span
            class="bb-navigation-item__title"
            i18n="
              Payment orders menu item|Link text to navigate to the payment
              orders page@@employee-app.user-mode-nav.payment-orders"
          >
            Payment orders
          </span>
        </a>
      </li>
      <li
        class="bb-navigation__header"
        i18n="
          Customer activity menu header|Title text for the customer activity
          header in user mode@@employee-app.user-mode-nav.customer-activity"
      >
        Customer activity
      </li>
      <li
        class="bb-navigation__item bb-navigation-item"
        routerLinkActive="bb-navigation-item--active"
      >
        <a class="bb-navigation-item__link" routerLink="./comments">
          <i class="bicon bicon-mode-comment bb-navigation-item__icon"></i>
          <span
            class="bb-navigation-item__title"
            i18n="
              Comments menu item|Link text to navigate to the comments
              page@@employee-app.user-mode-nav.comments"
          >
            Comments
          </span>
        </a>
      </li>
      <li
        class="bb-navigation__item bb-navigation-item"
        routerLinkActive="bb-navigation-item--active"
      >
        <a class="bb-navigation-item__link" routerLink="./activity-log/results">
          <i class="bicon bicon-history bb-navigation-item__icon"></i>
          <span
            class="bb-navigation-item__title"
            i18n="
              Activity log menu item|Link text to navigate to the activity log
              page@@employee-app.user-mode-nav.activity-log"
          >
            Activity log
          </span>
        </a>
      </li>
      <li
        class="bb-navigation__item bb-navigation-item"
        routerLinkActive="bb-navigation-item--active"
      >
        <a class="bb-navigation-item__link" routerLink="./messages">
          <i class="bicon bicon-mail bb-navigation-item__icon"></i>
          <span
            class="bb-navigation-item__title"
            i18n="
              Messages menu item|Link text to navigate to the messages page in
              the user mode@@employee-app.user-mode-nav.messages"
          >
            Messages
          </span>
        </a>
      </li>
    </ul>
  </nav>
</div>
