<div class="bb-sidebar" data-role="sidebar">
  <nav role="navigation" data-role="customer-support-nav">
    <ul class="bb-navigation" aria-orientation="vertical">
      <li
        class="bb-navigation__header"
        i18n="
          Customer workspace menu header|Title text for the customer support
          workspace nav menu@@employee-app.customer-support.nav-title"
      >
        Customer workspace
      </li>
      <li
        class="bb-navigation__item bb-navigation-item"
        routerLinkActive="bb-navigation-item--active"
      >
        <a class="bb-navigation-item__link" routerLink="users">
          <i class="bicon bicon-users bb-navigation-item__icon"></i>
          <span
            class="bb-navigation-item__title"
            i18n="
              User search menu item|Link text to navigate to the user search
              form@@employee-app.customer-support-nav.user-search"
          >
            Users
          </span>
        </a>
      </li>
      <li
        class="bb-navigation__item bb-navigation-item"
        routerLinkActive="bb-navigation-item--active"
      >
        <a class="bb-navigation-item__link" routerLink="messages">
          <i class="bicon bicon-mail bb-navigation-item__icon"></i>
          <span
            class="bb-navigation-item__title"
            i18n="
              Message centre menu item|Link text to navigate to the employee
              message centre@@employee-app.customer-support-nav.message-centre"
          >
            Message center
          </span>
        </a>
      </li>
    </ul>
  </nav>
</div>
