<bb-employee-web-app-root>
  <ng-template #workspaceLinks>
    <li
      bb-ewa-workspace-link="/support"
      i18n="
        Customer support workspace menu item|Link to navigate to the Customer
        Support workspace@@employee-app.workspace-nav.customer-support"
    >
      Customer support
    </li>
    <li
      bb-ewa-workspace-link="/admin"
      i18n="
        Bank admin workspace menu item|Link to navigate to the Bank Admin
        workspace@@employee-app.workspace-nav.bank-admin"
    >
      Bank admin
    </li>
  </ng-template>
</bb-employee-web-app-root>
